* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer !important;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  box-shadow: none !important;
  outline: #000 !important;
}
